nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
  padding: 20px 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.006);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 12px;
}

#navbar li a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}

#navbar li a:hover {
  color: #17c;
}
#navbar li a:hover::after,
#navbar li a.active::after {
  content: '';
  width: 30%;
  height: 2px;
  background: #17c;
  position: absolute;
  bottom: -4px;
  left: 28px;
}

#mobile img {
  color: #fff;
  width: 16px;
  height: 16px;
}
#mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 64px;
    right: -300px;
    width: 200px;
    height: 100%;
    background: #2a3239;
  }
  #mobile {
    display: block;
  }
  #navbar li {
    font-size: 18px;
    cursor: pointer;
    margin-top: 12px;
  }

  #navbar.active {
    right: 0px;
  }
}
